<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
      <!--import materialize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
    <!--import your css-->
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>ShotSpot | look beyond your local watering hole</title>
</head>

<body>
  
  {{{body}}}


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVf591AZ-evHODFReCvcQ56eAJZecmLgc&libraries=places"></script>
  <script type= "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>

</body>

</html>



