<nav class="nav-wrapper"> {{!-- nav/header --}}
    <div class="row">
        <div class="col s12" >
            <a href="/home"><img src="/images/logo2.png" height="40px" width="40px" id="smlLogo"></a><span class="brand-logo">Cheap Drinks</span>
        </div>
    </div>
</nav>

<div class="container">{{!-- container div --}}

    {{!-- DO NOT DELETE! This is the slider bar for price; we may still use it.
    
    <div class="row">

        <div class="col s12 m6 offset-m3">

            <div class="slidecontainer">
                <input type="range" min="1" max="10" value="10" class="slider" id="myRange">
                <p style="font-size: 30px">$<span id="demo"></span></p>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">
                <i class="material-icons right">Show me cheap!</i>
            </button>

        </div>

    </div> --}}

    <div class="row">
        <div class="col s12">
            <h5 style="text-align:center">Check out these cheap shot spots!</h5>
        </div>
    </div>

    {{!-- maps row --}}
    <div class="row"> 
        <div id="map"></div>
    </div>

    {{!-- adds cards for each table item --}}
    <div class="row addCard"></div>

</div> {{!-- end of container --}}


{{!-- Scripts, etc. --}}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="jquery.range.css">
<script src="/js/cheap.js"></script>