

    <nav>
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s12">
                    <a class="brand-logo">Happy
                        <span class="hide-on-med-and-down">&nbsp;Hour</span>
                    </a>
                    <ul class="right">
                        <li>
                            <a href="https://s.codepen.io/j_holtslander/fullpage/ejZrqG" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <br>

    <div class="row">
        <div class="col s12">
            <h3>Check out the choices below and lets take shots!</h3>
        </div>
    </div>
    <div class="row addCardThree">
      
    </div>

    <div id="map">
        
    </div>


    <!-- Gitter Chat Link -->


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="jquery.range.css">
    <script src="/js/happyhour.js"></script>


