{{!-- Logo placement on page?  Might not be needed --}}
<div class="container" id="unique">
    <!--FOR LOGO-->
  <div id="logo">
  </div>


  <div id="container">

      {{!-- Need to create a Display Box with Happy hour specials in Austin- maybe 3-5 weekly features? --}}
  
    {{!-- The height of this image can be changed... just wanted to place something in there --}}
     <img id = "austin" src="assets/happyHr.jpg" alt="sign"    style= "height:800px" "width:1000px;"> 
      <div class = "search-page">
      <p id= "caption"> DESTINATION </p>
      <!-- Search form -->
      <input id= "search-input" class="form-control" type="text" placeholder="Search" aria-label="Search">
      <br>
      <!-- Search form -->
      <p id= "caption"> DISTANCE </p> 
      <input class="form-control" type="text" placeholder="meters" aria-label="Search">
      <!-- Search form -->
      <br>

      <br>
      {{!--Click on choice get directions to there from current location --}}
      <button type="submit" class="btn btn-info">submit</button>
    </div>
  </div>  

{{!-- map, placeholder below Need API route to google maps, so I can place the URL--}}

{{!-- <div class="iframe-container">
<div id="map"></div>
</div>
    <script src="assets/javascript/app.js"></script> --}}
    {{!-- <script src="#map#"
    ></script> --}}


