<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

<div class="container">
    <div class="div-home-logo">
        <a class="btn-floating btn-large logobtn" id="logo">
            {{!-- <i class="large material-icons"></i> --}}
        </a>
    </div>

    <div class="row home">
        <div class="col s12 m4">
            <a class="btn-floating btn-large cool" id="cheapBtn"><i class="material-icons">CHEAP</i></a>
        </div>
        <div class="col s12 m4">
            <a class="btn-floating btn-large cool" id="happyBtn"><i class="material-icons">HAPPY</i></a>
        </div>
        <div class="col s12 m4">
            <a class="btn-floating btn-large cool" id="uniqueBtn"><i class="material-icons">UNIQUE</i></a>
        </div>
    </div>

    {{!-- <div class="ul-mobile-home">
        <ul>
            <li><a class="btn-floating btn-large cool" id="cheap"><i class="material-icons">CHEAP</i></a></li>
            <li><a class="btn-floating btn-large cool" id="happy"><i class="material-icons">HAPPY</i></a></li>
            <li><a class="btn-floating btn-large cool" id="unique"><i class="material-icons">UNIQUE</i></a></li>
        </ul>
    </div> --}}

</div>


<script type= "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/home.js"></script>
