<div class="logo"></div>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul class="floatingActionBtns">
    <li><a class="btn-floating btn-large yellow darken-1"><i class="material-icons">CHEAP</i></a></li>
    <li><a class="btn-floating btn-large green"><i class="material-icons">HAPPY</i></a></li>
    <li><a class="btn-floating btn-large blue"><i class="material-icons">UNIQUE</i></a></li>
  </ul>
</div>

<script type= "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/home.js"></script>
