<nav class="nav-wrapper"> {{!-- nav/header --}}
    <div class="row">
        <div class="col s12" >
            <a href="/home"><img src="/images/logo2.png" height="40px" width="40px" id="smlLogo"></a><span class="brand-logo">Unique Drinks</span>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h5 style="text-align:center">Unique drinks for the adventurous!</h5>
        </div>
    </div>

    {{!-- maps row --}}
    <div class="row"> 
        <div id="map"></div>
    </div>

    {{!-- adds cards for each table item --}}
    <div class="row addCardTwo"></div>

</div> {{!-- end of container --}}

{{!-- Scripts, etc. --}}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="jquery.range.css">
<script src="/js/unique.js"></script>













