.list-group-item {
  line-height: 2.5;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #d3b9c5;
}

main {
  flex: 1 0 auto;
}

#logo{
  background-image: url("../images/logo2.png");
  margin-left: 36%;
  margin-top: 10%;
  width: 244px;
  height: 296px;
  background-size: cover;
  background-repeat: no-repeat;
}

#noBtn{
  margin-top: 18%;
}

#yesBtn{
  margin-top: 20%;
}

.btn-floating.btn-large{
  font-size: 500%;
  text-align: center;
  width: 300px;
  height: 300px;
  margin-left: 14%;
  padding-top: 27%;
  background-color: black;
}

.btn-large i {
  font-size: 5.6rem;
}

#ask{
  margin-top: 24%;
  text-align: center;
}

