/* body {    
    background: linear-gradient(
        rgba(20,20,20, .4), 
        rgba(20,20,20, .4)),
        url("../public/cheapNeon.jpg");;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover; 
} */

.container1 {
  align-content: center;
  background: url ("cheapNeon.jpg");
} 



.slidecontainer {
  width: 25%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb { 
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.list-group-item {
  line-height: 2.5;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #d3b9c5;
}

main {
  flex: 1 0 auto;
}

.logo{
  background-image: url("../images/logo2.png");
  margin-left: 36%;
  margin-top: 10%;
  width: 244px;
  height: 296px;
  background-size: cover;
  background-repeat: no-repeat;
}

#noBtn{
  margin-top: 18%;
}

#yesBtn{
  margin-top: 20%;
}

.btn-floating.btn-large{
  font-size: 500%;
  text-align: center;
  width: 300px;
  height: 300px;
  margin-left: 14%;
  padding-top: 27%;
  background-color: black;
}

.btn-large i {
  font-size: 5.6rem;
}

#ask{
  margin-top: 24%;
  text-align: center;
}

